body{
    background-color: #1c1c1c;
    color: white;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenido {
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: #ffcc00;
}

a{
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: azure;
}

p {
    margin-bottom: 20px;
}

.hasttag{
    color:#00cc66;
}
